spring:
  application:
    name: money-transfer-system
  profiles:
    active: mysql
  
  security:
    user:
      name: admin
      password: admin

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    com.banking.transfer: DEBUG
    org.springframework.security: DEBUG
